
/* 
=====================================================
======================== ALL ========================
=====================================================
 */

 @import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

*{
  box-sizing: border-box;
  padding: 0;
  margin : 0;
  font-family: "Inria", sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper{
    min-height: 100vh;
    background: hsl(0, 0%, 0%);
    gap: 20px;
}

p, strong, h1, h2, h3, h4{
    color: white;
}

/* 
=====================================================
======================= FONT ========================
=====================================================
 */

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  #mainpage{
    height: 100%;
}

#forum{
    min-height: 100vh;
    height: 100%;
}

label{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* 
=====================================================
====================== HEADER =======================
=====================================================
 */

header{
    display: flex;
    top: 0;
    position: sticky;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    color: white;
    font-size: 16px;
    background-size: cover;
    background-image: url(../img/fond.png);
    background-position:0% 61%;
    background-repeat: no-repeat;
    height: 60px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.61) 0px 19px 38px, rgba(0, 0, 0, 0.445) 0px 15px 12px;
}

nav{
    display: flex;
    justify-content:space-between;
    padding: 0% 5%;
    width: 100%;
    background-image:linear-gradient(0.90turn, black 10%, rgba(255, 255, 255, 0));
    height: 100%;
}

#nav-left{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#navbarphone{
    display:none;
}

header a{
    color: white;
    transition: 0.5s;
}

a:link { 
    text-decoration: none; 
} 
a:visited { 
    text-decoration: none; 
} 
header a:hover { 
    color: hsl(0, 0%, 75%);
    transition: 0.5s;
} 
a:active { 
    text-decoration: none; 
}

.homeBtn{
    display: flex;
    justify-content: center;
    gap: 10px;
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.homeBtn:hover { 
    color: hsl(0, 0%, 0%);
    transition: 0.2s;
    transform: translate(0px, -3px);
    box-shadow: rgba(255, 255, 255, 0.4) 0px 2px, rgba(255, 255, 255, 0.3) 0px 4px,rgba(255, 255, 255, 0.2) 0px 6px, rgba(255, 255, 255, 0.1) 0px 8px, rgba(255, 255, 255, 0.05) 0px 10px;
} 

.homeBtn:active { 
    transition: 0.2s;
    transform: translate(0px, 0px);
    box-shadow: none;
} 

.account{
    display: flex;
    gap: 10px;
}

.settings{
    display: flex;
    position: relative;
}

#settingsMenu{
    display:none;
    justify-content: center;
    position: absolute;
    top: 200%;
    right: 0%;


}

#settingsMenu ul{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    list-style-type: none;
    color:black;
    border-radius: 10px;
    overflow: hidden;
}

#settingsMenu li{
    background-color: rgb(241, 241, 241);
    padding: 10% 10%;
    width: 150px;
    border-bottom: solid;
    border-color: rgb(73, 73, 73);
    transition: 0.2s;
}

#settingsMenu li:hover{
    transition: 0.2s;
    background-color: rgb(185, 185, 185);
}

#settingsMenu a{
    color:black;
}

.btnSignUp{
    margin: 15px 0px;
    padding: 10px 10px;
    border-radius: 8px;
    border: solid;
    border-width: 1px;
    border-color: black;
    color: white;
    background-color: #CA7D28;
    transition: 0.5s;
}

.btnSignUp:hover{
    transition: 0.5s;
    background-color: #b65e00;
    transform: translate(0px, -3px);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.menuBurger{
    display: none;
}
#navbarphone{
    display:none;
}

.restrictPage{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #150E07;
}

.messageRestrict{
    height: fit-content;
    font-size: large;
    text-wrap:balance;
    text-align: center;
    background-color: #000000;
    padding: 20px;
    border-radius: 20px;
    width: 50%;
}

.messageRestrict a{
    color: white;
}

.messageRestrict div{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.87) 0px 19px 38px, rgba(0, 0, 0, 0.705) 0px 15px 12px;
}

/* 
=====================================================
======================= HOME ========================
=====================================================
 */

 .home{
    background-size: cover;
    background-image: url(../img/fond.png);
    background-position:bottom;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;    
    overflow:hidden;
    z-index: 0;
 }

.fond{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(0.90turn, black 10%, rgba(255, 255, 255, 0) 50%);
}

.homeRegister{
    background-size: cover;
    background-image: url(../img/fond3.PNG);
    background-position:bottom;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;    
    overflow:hidden;
    z-index: 0;
 }

.fondRegister{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-image:linear-gradient(0.30turn, rgb(0, 0, 0) 40%, rgba(255, 255, 255, 0) 50%);
}

.welcome{
    padding-top: 50px;
    font-size:x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* 
=====================================================
====================== LOGIN ========================
=====================================================
 */

.login{
    display: flex;
    justify-content:right;
    padding-right: 10%;
}

.loginContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.137);
    backdrop-filter: blur(3px);
    width: 400px;
    height: 450px;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.74) 0px 19px 38px, rgba(0, 0, 0, 0.692) 0px 15px 12px;
}


.login form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputTextLogin{
    background-color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 8px;
    width: 250px;
}


.forgotPassword{
    font-size: small;
    color: rgba(255, 255, 255, 0.753);
}

.btnLogin{
    margin: 15px 0px;
    padding: 10px 10px;
    border-radius: 8px;
    width: 250px;
    border: solid;
    border-width: 1px;
    border-color: black;
    color: white;
    background-color: #CA7D28;
    transition: 0.5s;
}

.btnLogin:hover{
    transition: 0.5s;
    background-color: #b65e00;
    transform: translate(0px, -3px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.signUp{
    padding-top: 10px;
    font-size: small;
}

.signUp a:visited { 
    color: white;
} 

/* 
=====================================================
===================== REGISTER ======================
=====================================================
 */

.register{
    display: flex;
    justify-content:left;
    align-items: center;
    padding-right: 10%;
    position: relative;
}

.registerContainer{
    display: flex;
    position: absolute;
    top: 150px;
    left: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.register form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* 
=====================================================
===================== CATEGORIE =====================
=====================================================
 */

.listCategorie {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 100px;
    background-color: #150E07;
}

.categories{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: solid 5px;
    border-color: #484848;
    border-radius: 10px;
    gap: 10px;
}

.categories a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 5%;
    border-left: solid 3Px;
    border-color: #b65e00;
    border-radius: 5px 0 0 5px ;
    height: 100px;
    color: white;
    list-style-type: none;
    background-color: rgba(128, 128, 128, 0.089);
}

.categories a:hover{
    background-color: rgba(128, 128, 128, 0.253);
}

/* 
=====================================================
======================= TOPIC =======================
=====================================================
 */

 .listTopic {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 100px;
    background-color: #150E07;
}

.btnNewTopic{
    margin: 15px 0px;
    padding: 10px 10px;
    border-radius: 8px;
    border: solid;
    border-width: 1px;
    border-color: black;
    color: white;
    background-color: #CA7D28;
    transition: 0.5s;
    width: 130px;
}

.btnNewTopic:hover{
    transition: 0.5s;
    background-color: #b65e00;
    transform: translate(0px, -3px);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.topics{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: solid 5px;
    border-color: #484848;
    border-radius: 10px;
    gap: 10px;
}

.topics li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0% 2%;
    height: 100px;
    color: white;
    list-style-type: none;
    background-color: rgba(128, 128, 128, 0.089);
}

.topicInfo{
    display: flex;
    align-items: center;
    height: 100%;
}

.topicSettings{
    display: flex;
    gap: 10px;
}

.topicSettings a{
    color: #af1818;
}

.topicDetail{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.topicDetail a{
    color:#b65e00;
}

.unlockBox{
    height: 70%;
    width: 5px;
    background-color: #CA7D28;
    border-radius: 10px;
    margin-right: 10px;
}

.lockBox{
    height: 70%;
    width: 5px;
    background-color: #af1818;
    border-radius: 10px;
    margin-right: 10px;
}

.getBack{
    padding-bottom: 20px;
}

.getBack a{
    color: #747474;
}

/* 
=====================================================
===================== NEW TOPIC =====================
=====================================================
 */

 .newTopic {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 100px 100px;
    background-color: #150E07;
}

.newTopic form{
    margin-top: 30px;
    background-color: #000000;
    padding: 30px 30px;
    border: solid 2px;
    border-radius: 10px;
}

.newTopic .title{
    height: 100px;
}

.newTopic .title input{
    height: 50px;
    padding: 10px;
}

.newTopic textarea{
    resize: none;
    height: 200px;
    padding: 10px;
}

/* 
=====================================================
======================= POST ========================
=====================================================
 */

 .listPost {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #150E07;
}

.topicInfoInPost{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: linear-gradient(0.25turn,#4B2915 10%,  #B16132 50%, #4B2915 100%);
    padding: 20px 40px;
    border-top: solid 5px;
    border-bottom: solid 5px;
    border-radius: 17px;
    border-color: #484848;
    margin-bottom: 20px;
}

.topicInfoInPost a{
    color: white;
}

.postByUser{
    display: flex;
    height: fit-content;
    border-top: solid 5px;
    border-bottom: solid 5px;
    border-radius: 17px;
    border-color: #484848;
    overflow: hidden;
    min-height: 400px;
    position: relative;
}

.posts{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.user{
    min-width: 265.17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px 50px 30px;
    border-right: solid 5px;
    border-color: #484848;
    background-color: #000000;
}

.user a{
    color: white;
}

.messageText{
    padding: 20px 20px;
}

.sendPostForm{
    margin-top: 30px;
    background-color: #000000;
    padding: 30px 30px;
    border: solid 2px;
    border-radius: 10px;
}

.sendPost{
    margin: 15px 0px;
    padding: 10px 10px;
    border-radius: 8px;
    border: solid;
    border-width: 1px;
    border-color: black;
    color: white;
    background-color: #CA7D28;
    transition: 0.5s;
}

.sendPost:hover{
    transition: 0.5s;
    background-color: #b65e00;
    transform: translate(0px, -3px);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.sendPostForm textarea{
    resize: none;
    height: 200px;
    border: none;
    padding: 20px;
    border-radius: 10px;
}

.topicLockMessage{
    margin-top: 30px;
    background-color: #000000;
    padding: 30px 30px;
    border: solid 2px;
    border-radius: 10px;
}

.topicLockMessage strong{
    color: rgb(155, 0, 0);
}

.editPost{
    position: absolute;
    right: 2%;
    bottom: 2%;
}

.editPost a{
    color:#af1818;
}

/* 
=====================================================
====================== FOOTER =======================
=====================================================
 */

 

footer{
    display: flex;
    bottom: 0;
    position:relative;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    color: white;
    font-size: 16px;
    background-color: rgb(8, 8, 8);
    height: 60px;
    z-index: 1;
}

 /* 
=====================================================
======================= MEDIA =======================
=====================================================
 */


 @media only screen and (max-width: 1000px) {

    #wrapper{
        position: relative;
        overflow:hidden;
        
    }

.welcome{
    font-size: medium;
}

/* 
=====================================================
====================== HEADER =======================
=====================================================
 */

 .menuBurger{
    display: flex;
    align-items: center;
}

#iconClose{
    display: none;
}

.menuBurger i{
    font-size: 30px;
}

#iconClose{
    position: absolute;
    right: 30%;
}

#navbarphone{
    position: absolute;
    min-height: 1000vh;
    width: 100%;
    top: 0;
    left: 20%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.589);
    backdrop-filter: blur(4px);
    padding: 40px;
}

#navbarphone ul{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    list-style: none;
}

#nav-right{
    display: none;
}

.homeBtn{
    align-items: center;
}

.homeBtn i{
    font-size: 20px;
}

.btnSignUp{
    margin:0px;
    padding: 10px 10px;
    border-radius: 8px;
    border: solid;
    border-width: 1px;
    border-color: black;
    color: white;
    background-color: #CA7D28;
    transition: 0.5s;
}
 /* 
=====================================================
======================= LOGIN =======================
=====================================================
 */

.login{
    justify-content: center;
    padding: 0%;
}

.loginContainer{
    margin: 50px 20px;
}

 /* 
=====================================================
====================== REGISTER =====================
=====================================================
 */

.register{
    justify-content: center;
    padding: 0%;
    position:static;
    align-items: center;
}

.registerContainer{
    padding-top: 150px;
    position: static;
}

/* 
=====================================================
===================== CATEGORIE =====================
=====================================================
 */

 .listCategorie {
    padding: 100px 30px;
}

.listCategorie{
    display: flex;
    align-items: center;
}

/* 
=====================================================
======================= TOPIC =======================
=====================================================
 */

 .listTopic {
    padding: 100px 30px;
}

/* 
=====================================================
===================== NEW TOPIC =====================
=====================================================
 */

 .newTopic {
    padding: 100px 30px;
    align-items: center;
}

.newTopic form {
width: 100%;
}

/* 
=====================================================
======================= POST ========================
=====================================================
 */

 .listPost {
    padding: 100px 30px;
}

.postByUser{
    flex-direction: column;
    border-top: none;
    border-bottom: none;
    border-right: solid 5px;
    border-left: solid 5px;
    border-color: #484848;  
}

.user{
    border-right: none;
    border-bottom: solid 5px;
    border-color: #484848;
    background-color: #000000;
}

}